@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Northwind Traders</h1>
    <img src="~/img/northwind.png" alt="Board Game" width="200" height="200" />
    <p>Proudly distributing fone foods around the world since 1994.</p>

</div>
