@{
    ViewData["Title"] = "Game Zone";
}

<div class="text-center">
    <h1 class="display-4">Game Zone</h1>
    <h3 class="display-6">The next generation of gaming is here.</h3>
    <img src="~/img/boardgame.jpg" alt="Board Game" width="400" height="400" />
</div>
