@{
    ViewData["Title"] = "Statement Of Authorship  - Game Zone";
}
<h1>@ViewData["Title"]</h1>

<p>I, Malhar Dhanani, student number 000860307, certify that this material is my original work. Noother person's work has been used without due acknowledgment and I have not made my workavailable to anyone else.</p>
