@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Northwind Traders</h1>
    <img src="~/img/northwind.png" alt="Board Game" width="200" height="200" />
    <p>Proudly distributing fine foods products around the world for @DateTime.Now.AddYears(-1994).Year years.</p>

</div>
